<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinyu.mwp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />`
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--银联权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name="com.xinyu.mwp.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyShareOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyPushOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAttentionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UserAssetsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DealDetailFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DealDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashResaultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckPhoneNumberActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBankInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBankInfoActivity_1"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseUploadImgsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyLoginPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyDealPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.UserShareOrderActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetUserPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetDealPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <!--<activity-->
        <!--android:name=".activity.LoginSuccessActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize|fontScale"-->
        <!--android:screenOrientation="portrait" />-->
        <activity
            android:name=".activity.PositionHistoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.BindBankCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <!--银联相关-->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name=".activity.unionpay.JARActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.unionpay.APKActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activity.IndexBannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayMentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayORCodeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|fontScale"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="13b0dd85b007ad78249b02fc26fa3972dff8da79" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qiangxi.checkupdatelibrary"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/checkupdatelibrary_uri_grant"/>
        </provider>
        <service android:name="com.qiangxi.checkupdatelibrary.service.DownloadService"/>
    </application>
</manifest>